body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.container{
    font-size: 20px;
color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 625px;
border: 10px solid black;
flex-direction: row;
flex-flow: wrap;
}
.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.container button{
    background-color:#0a4d9d;
    border-radius: 10px;
 width: 80px;
 height: 40px;
 border: 0;
 cursor: pointer;
 box-shadow: 20px;
}
#titulo{
    display: inline;
}
#pixelart{
    width: 200px;
    height: 200px;
    display: inline;
}
.linha1{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.linha1 div{
    border: 3px solid #1a1a1a;
    border-radius: 10px;
    background-color: #1a1a1a;
    margin: 10px;
    padding: 10px;
}
.box1 img{
    width: 300px;
    height: 280px;
}

.box2 img{
    width: 180px;
    height: 280px;
}
#papyrus{
    background-color: #c72d24;
}
.box3 img{
    width: 280px;
    height: 280px;
}

#flowey{
    background-color: #feea31;
}
.linha2{
    margin-bottom: 0px;
    display: flex;
    background-color: black;
    align-items: flex-end;
}
.linha2 div{
    border: 3px solid #1c1c1c;
    border-radius: 10px;
    background-color: #1c1c1c;
    margin: 20px
}

.box4 img{
    width: 200px;
    height: 280px;
}
#toriel{
    background-color: #6824ab;
}
.box5 img{
    width: 280px;
    height: 280px;
}
#asgore{
    background-color: #c3a13c;
}
.box6 img{
    width: 190px;
    height: 280px;
}

#undyne{
    background-color: #88d0f9;
}